.footer {
  position: relative;
  bottom: 0;
  height: 2em;
  width: 100%;
  background-color: $light;
  box-shadow: $boxShadowLarge;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    p {
      color: $primary;
      font-weight: 600;

      a {
        color: $accent;
        font-weight: 700;
        font-style: italic;
      }
    }
  }
}
